@use 'variables' as *;
@use 'mixins' as *;

.snippet{

&__title{
    font-size: $font-sh;

    @include breakpoint-up(large){
        font-size: 2.125rem;
    }
}

&__features{
    flex-direction: column;

    @include breakpoint-up(large){
        flex-direction: row;
    }


    img{
        width: 19.5rem;
        height: 14.9375rem;
        margin-bottom: 3.375rem;

        @include breakpoint-up(large){
            width: 48.54rem;
            height: 35.6875rem;
            transform: translatex(-25%);
        }
    }
}
}